createdAt: "2018-11-24T04:06:10.623Z"
updatedAt: "2018-11-24T04:13:46.301Z"
type: "MARKDOWN_NOTE"
folder: "c41f4f2528442934e948"
title: "Databases and Tables"
content: '''
  # Databases and Tables
  
  ### Databases
  Databases are a collection of tables
  
  ---
  
  ```bash
  $  show databases;
  ```
  List current databases that exists on your server
  
  ---
  ```bash
  $  CREATE DATABASE <name>;
  ```
  Creates a new database called *name*
   
  ---
  
  ```bash
  $  DROP DATABASE <name>;
  ```
  Deletes the database called *name*
  
  ---
  
  ```bash
  $  USE <name>;
  ```
  Selects database *name* to use
  
  ---
  ```bash
  $  SELECT database();
  ```
  Shows current database in use
  
  ### Tables
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
